<div class="row">
    <div class="col-md-6">
        <label>Shipping Detail</label>
        <textarea name="Address" placeholder="Example : Ajay Meena,999999999,ajay@gmail.com,Jaipur,Rajasthan"></textarea>

        <button type="submit" class="mt-2">Submit</button>
    </div>
</div>
