
<div class="card">
    <div class="card-body">
        <h6>Change Password</h6>
        <hr />
        <form action="/ChangePasswordSubmit" method="post" id="formChangePassword">
            <label>OLD Password</label>
            <input type="text" name="OldPassword" placeholder="Enter Old Password"  />
            <label>New Password</label>
            <input type="password" name="password" placeholder="***********"  />
            <label>Confirm Password</label>
            <input type="password" name="cpassword" placeholder="***********" />
            <br />
            <input type="submit" class="btn btn-success mt-2" value="Change Password" />
        </form>
    </div>
</div>
<script>
    $("#formChangePassword").submit(function (e) {
        e.preventDefault(e);
        var url = $('#formChangePassword')[0].action;
        $.ajax({
            type: "POST",
            url: url,
            data: $('#formChangePassword').serialize(),
            success: function (data) {
                if (data.Status > 0) {
                    swal('Alert', data.Message, 'success').then((value) => { location.reload(); });
                }
                else {
                    swal('Alert', data.Message, 'error');
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        })
    });
</script>

