
@{
    ViewBag.Title = "Disclaimer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section_all bg-light" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title_all text-center">
                    <h3 class="font-weight-bold">Disclaimer</h3>

                </div>
            </div>
        </div>
        <div class="row vertical_content_manage mt-5">

            <pre>
                <h5>  About Us</h5>
                The domain name www.helpon.in (the “Website”) is owned and operated by Helpon Digital Services a Company incorporated under the provisions of the Companies Act, 2013, having its registered (hereinafter referred to as the “HELPON”, “we”, “Our”, “us”).
                We are providing E-market platform, Digital Infra-Structure branding, product promotion & marketing, and complete E-solution to its merchants (subscriber). Our platform creates a user interface that directly connects the user and merchant through that. The user can directly place it order or purchase goods or services from the merchants and directly make the payment to the merchants provided bank account. Any issues related to the return, refund or cancellation of ordered goods or services are directly settled by the user and merchant.

                <h5>Website Disclaimer</h5>
                The information contained on this website is for general information purposes only. The information is provided by [www.helpon.in], owned & operated by Helpon Digital Services. While we endeavour to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.
                
                In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.
                
                Through this website, you are able to link to other websites which are not under the control of Helpon Digital Services. We have no control over the nature, content, and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.
               
                 Every effort is made to keep the website up and running smoothly. However, Helpon Digital Services takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to the nature of the internet or any technical issues beyond our control.

                <h5>Logos and Trademarks Disclaimer</h5>

                All logos and trademarks of third parties referenced on www.helpon.in are the trademarks and logos of their respective owners. Any inclusion of such trademarks or logos does not imply or constitute any approval, endorsement, or sponsorship of Helpon Digital Services. by such owners.

                <h5>Contact Us</h5>

                If you have any feedback, comments, requests for technical support or other enquiries, please contact us by email: info@helpon.in


</pre>
        </div>

    </div>
</section>

