
@{
    ViewBag.Title = "MobileSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="column column-center">
                <div class="card">
                    <div class="card-body">
                        @Html.Action("Search", "Home")
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

