
@{
    ViewBag.Title = "Terms-and-Conditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section_all bg-light" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title_all text-center">
                    <h3 class="font-weight-bold"> Terms and Conditions</h3>
                   
                </div>
            </div>
        </div>
        <div class="row vertical_content_manage mt-5">
           
            <pre>
            <h5 class="font-weight-bold"> Terms and Conditions</h5>
                Helpon.in Website and mobile application Terms of Use between helpon.in (trading as Helpon.in) and the user of this mobile application Website ("You" or "Your")

                Welcome to helpon.in The helpon.in Website and mobile application Terms of Use set out below (Agreement) govern Your use of the Helpon.in Website located at www.helpon.in (Helpon.in) and form a binding agreement between Helpon.in and You in relation to Your use of Helpon.in
                
                Please read all of the Agreement carefully before using Helpon.in If You have any questions, please Contact us prior to agreeing. You acknowledge and agree that You have had an opportunity to read and understand the Agreement and agree to be bound by it.

            <h5>Here is a Brief Summary of Our Terms</h5>

                Helpon.in is provided by helpon.in creation, its providers, licensors and affiliates (either “we” or “us”). 
                
                These Terms of Service consist of the terms below, our privacy policy, and any supplemental terms that our vendors, Contributors or we may apply to a specific feature or purchase that you may purchase from us.
                
                These Terms of Service have the same legal effect as an agreement in writing.

                We can change these terms at any time, in which such changes take effect after we post notices of the changes.
                
                We may change or discontinue any feature on Helpon.in at any time.
                
                We give you a limited right to access and use Helpon.in. You are not authorized to access Helpon.in  or its computers, servers and databases to scrape or “data mine” our data.

                You may not resell or redistribute Helpon.in  services and databases unless otherwise authorized by us in writing.

                We may change, update or discontinue any offering, feature or Content on Helpon.in at any time and without notice.

            <h5>Registration and Eligibility</h5>
        
                Registration is optional; however, you will need to register with us to use all of our features and services. We will open an individual member profile account when you register on Helpon.in, which we will refer to as a “profile” in this Agreement. In order to register with Helpon.in, you must meet the following qualifications:

                You must be at least 18 years of age and have legal capacity to agree to these Terms of Service.

                You must provide true, accurate, current and complete registration information.

                If you are registering on behalf of a business or entity, you must have authority to act on behalf of such business or entity.

                We are not responsible if we are unable to communicate with you because you have not kept your registration information up to date. By accessing and/or registering for the use of Helpon.in, you represent and warrant that (a) you have the authority and legal capacity to enter into the Agreement and follow its obligations, (b) you have the authority to bind your principal or employer company if you are applying on behalf of a business, and (c) you are providing true, complete and current information.

                Our Contributors, licensors and we own all rights in the Helpon.in site, Content, aggregate user review ratings, data, text, designs, pages, print screens, the organization and structure of our data and Web sites, trademarks, logos, trade names, images, artwork, photographs, audio and video clips, and HTML code, source code, or software that resides or is viewable or otherwise discoverable on Helpon.in. We (or as applicable, our licensors) own all intellectual property rights in our databases’ code, indexes, algorithms, organization and structure, and compilation of data. Except for the limited license we grant to you below, you obtain no other rights nothing in this Agreement grants you any other rights in Helpon.in or its Content.
    
            <h5>License and Authorized Uses</h5>

                We grant you a non-exclusive, non-transferable, limited license to access and use Helpon.in and the Content subject to the terms and limitations of this Agreement.

                All Content is licensed and not sold. Any use beyond this limited license is prohibited. You may create a profile only on your own behalf or on behalf of your business. Unless otherwise provided in any supplemental terms, you may download and temporarily store Content that you purchase to one computing device under your exclusive control. You may use such Content only (1) to display internally such Content for your internal business and research needs and (2) to quote and excerpt from such Content. You may also create one printout of such Content for your internal use and you may not further distribute the printouts. Any other access and use of Helpon.in is not authorized.

            <h5>You may not directly, indirectly or through any intermediary:</h5>

                Copy, scrape, crawl, mine, spider, record, aggregate, resell, retransmit, redistribute, modify, translate or otherwise create derivative works of Helpon.in, its databases, Content, or its user IDs or passwords

                Violate applicable laws and regulations

                Frame our Web sites, pages or other Content

                Use our data, information about our customers or Content to send spam, unsolicited communications or other mass communications to consumers or third parties

                Use our trademarks, logos, or trade names without our express authorization to solicit your own customers, to imply any affiliation between you and us, or to make misrepresentations about Helpon.in or us

            <h5>Your Responsibilities</h5>

                You are responsible for all activities under your profile, including all legal liability incurred from the use of your profile by you or others. You may not give access to your profile, or disclose your password to others. You may not harvest Content for the purposes of sending spam or other forms of unsolicited communications. You are responsible for keeping your profile information, including all passwords, confidential. You shall be solely responsible and accept all liability for your (including your agents’ and representatives’) changes, edits, modifications or additions to the information and/or data you receive through Helpon.in. We are not responsible if your profile or account is compromised if any of your devices containing your profile (such as a mobile device) is lost or stolen. You are responsible for notifying us immediately if your profile has been compromised.


                Helpon.in offers features where Contributors may post Content such as business profiles, ratings and comments on forums and discussion boards. Except for the Content licensed by our Contributors or us to you, we do not claim ownership of any Content posted by you or our other users. However, by submitting Content to Helpon.in

                Posts or transmits any advertising, promotional materials, or other forms of solicitation including chain letters and pyramid schemes

                You are solely responsible for backing up any Content that you store on any customizable area on Helpon.in. We are not responsible for the loss of any data or Content you elect to store on Helpon.in

            <h5>Your Representations</h5>

                By submitting Content on Helpon.in, (a) you represent and warrant that your Content is true, accurate, current, complete and that you own or have express permission to post the materials on Helpon.in; (b) that you have the authority to post such Content and that such submission will not violate any trade secrets, confidential information, or violate any securities laws; (c) in the event your Content contains the name, image, video, audio or participation by individuals, performers or entities other than you, that you have obtained such parties consent to their appearance or use of their contribution in the Content that you upload; and (d) you agree to indemnify and hold us harmless from all claims, costs and expenses (including legal expenses) arising out of any Content posted or published by you that are in breach of this section.

            <h5>Optional Services</h5>

                Helpon.in may offer from time-time additional, optional services on the website and mobile application for business owners and marketing organizations. Premium Business Listing is a paid service offered on Helpon.in, which will be subject to additional terms, conditions and limitations for the user for such services. We may modify and change these offerings at any time.

                Helpon.in reserves the right to decide whether, where, and how a Premium Business Listing is listed.

                Helpon.in reserves the right to reject a Premium Business Listing submission.

                All fees paid for the Premium Business Listing Service are NON-REFUNDABLE.

            <h5>Refund Policy</h5>

                Due to the type of the information and services being sold, we unfortunately cannot accept returns of articles, profiles, lists or reports once they have been delivered. We cannot and do not warrant that the information available through this service is accurate, complete or updated but rather is provided to the user ‘as is’.

                Please be sure to read all available information about a report before you place your order.

            <h5>Termination</h5>

                We may cancel or suspend your access to Helpon.in at any time, without cause and/or without notice. Your right to use Helpon.in will end once your service is terminated, and any data you have stored on Helpon.in may be unavailable later. We may cooperate with legal authorities and/or third parties in the investigation of any suspected or alleged crime or civil wrongdoing.

            <h5>Disclaimer of consequential damages</h5>
    
                In no event shall Company or any parties, organizations or entities associated with the corporate brand name us or otherwise, mentioned at this Website be liable for any damages whatsoever (including, without limitations, incidental and consequential damages, lost profits, or damage to computer hardware or loss of data information or business interruption) resulting from the use or inability to use the Website and the Website material, whether based on warranty, contract, tort, or any other legal theory, and whether or not, such organization or entities were advised of the possibility of such damages.

                For any Query /help Please contact us via E-mail: info@helpo.in



</pre>
        </div>

    </div>
</section>

